*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
main {
  display: flex;
  flex-direction: column;

  align-items: center;
}
header {
  width: 68.629vw;
  height: 3.679vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

main img {
  margin: 0;
}
.ipad_banner {
  width: 68.495vw;
  height: 34.247vw;
}
main input[type="text"] {
  position: relative;
  padding-left: 4.548vw;
  margin-top: 1.003vh;
  width: 63.946vw;
  height: 8.042vh;

  border: 1px solid #dddada;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.412vh;
  line-height: 2.815vh;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.filter_img {
  position: absolute;
  width: 2.675vw;
  height: 5.362vh;
  right: 4.183vw;

  top: 2.68vh;
}
.filter_img:hover {
  cursor: pointer;
}
.main_field {
  display: flex;
  width: 68.495vw;
}
hr {
  border: 0.5px solid #dddddd;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.main_field_settings {
  min-width: 21.384vw;
  height: fit-content;
  margin-top: 2.676vw;
  margin-right: 4.167vw;
  border: 1px solid #dddada;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-sizing: border-box;
}
.main_field_settings_option,
.main_field_settings_option_menu {
  padding: 2.278vh 1.274vw 1.34vh 2.006vw;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.main_field_settings_option {
  display: flex;
  justify-content: space-between;
  font-size: 2.412vh;
  line-height: 2.815vh;
}
.main_field_settings_option img:hover {
  cursor: pointer;
}
.main_field_settings_option_menu {
  padding-top: 0.005vh;
  padding-bottom: 2.815vh;
  display: none;
}
.main_field_settings_option_menu div {
  margin: 2.273vh 0 0 0;

  display: flex;
  justify-content: space-between;

  align-items: center;
  font-size: 1.876vh;
  line-height: 2.144vh;
}
.main_field_settings_option_menu .main_field_settings_option_menu_el {
  position: relative;

  padding-right: 7.618vw;
}

.main_field_settings_option_menu span {
  margin-left: 0.935vw;
  display: inline-block;
  min-width: 3.074vw;
}
.main_field_settings_option_menu_el_single {
  margin: 2.273vh 0 0 0;
}
input[type="checkbox"] {
  transform: scale(1.5);
}
.main_field_settings_option_menu input[type="text"] {
  width: 12.63vw;
  height: 5.217vh;

  padding: 1.357vh 4.878vw 1.085vh 5.012vw;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-sizing: border-box;
}
#products {
  max-width: 68.495vw;
  margin-top: 2.676vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products_item {
  position: relative;
  text-align: center;
  width: 20.066vw;
  height: 64.343vh;
  padding-top: 1.87vh;
  margin-bottom: 6.702vh;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.products_item_img {
  width: 13.377vw;
  height: 26.809vh;
}
.products_item h2 {
  margin-top: 3.351vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 3.217vh;
  line-height: 3.753vh;
}
.products_item p {
  margin-top: 1.088vh;
  font-family: "Roboto";
  font-size: 1.904vh;
  line-height: 2.176vh;
  color: #767272;
}
.products_item_button {
  margin-top: 1.496vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.68vh;
  line-height: 3.083vh;
  color: #ffffff;
  padding: 1.742vh 1.672vw;
  background-color: #0e49b5;
  border-radius: 5px;
  display: inline-block;
}
.products_item_bottom {
  position: absolute;
  bottom: 0;
  width: 20.066vw;
  box-sizing: border-box;

  padding: 1.742vh 2.006vw 0 2.943vw;
  height: 11.528vh;
  background: #dae2ea;
  border-radius: 0px 0px 10px 10px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 1.876vh;
  line-height: 2.144vh;

  color: #3b3e66;
}

.products_item_bottom p {
  margin: 0;
}
.products_item_bottom img {
  position: absolute;
  top: 2.546vh;
  left: 0.869vw;
  width: 1.115vw;
  height: 2.049vh;
}
.products_item_bottom div {
  margin-top: 0.804vh;
  display: flex;
  justify-content: space-between;
}
.products_item_like {
  position: absolute;
  right: 0.936vw;
  width: 1.605vw;
  height: 3.217vh;
}
