* {
  overflow-x: hidden;
}

th {
  border: solid lightgray 0.25px;

  width: 175px;
  height: 100px;
  max-height: 100px;
  width: 100%;
  display: block;
  overflow: visible;
}
tr {
  display: flex;
}
table {
  width: 100vw;
  margin-top: 2.5vh;
  box-sizing: border-box;
  margin-left: 1vw;
}
.time {
  margin: 0;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: grey;
  display: flex;
  width: 10vw;
}
body {
  padding: 1.5vh 0;
}
.folder {
  display: flex;
  position: absolute;
  width: 100%;
}
.calendar_item {
  background-color: #e2ecf5;
  border-left: solid #6e9ecf 0.25px;

  min-width: 200px;
  text-align: left;
  display: inline;
}
.calendar_item:hover {
  cursor: pointer;
}
.modal {
  display: none;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.65);
  text-align: center;
}
.modal:hover {
  cursor: pointer;
}
.modal_content {
  display: none;
  z-index: 2;

  justify-content: space-between;
  /* align-items: center; */
  background-color: #ffffff;

  width: 68.495vw;
  height: 50vh;
  border: 1px solid #888;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: fixed;
  margin: 7.5% auto;
  flex-wrap: wrap;
  padding: 20px;
}
.modal_content_row {
  width: 100vw;
  position: relative;
}
.modal_content_row input {
  display: inline-block;
  width: 90%;
  border-radius: 5px;
  position: absolute;
  right: 0;
}
.button_safe,
.button_delete {
  width: 100px;
  color: #ffffff;
  padding: 8px 10px 10px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  height: fit-content;
  position: absolute;
  bottom: 20px;
}
.button_safe {
  background-color: #6e9ecf;
  left: 20px;
}
.button_safe:hover {
  cursor: pointer;
}
.button_delete {
  background-color: crimson;
  right: 20px;
}
.add_section {
  width: 50vw;
  margin-top: 4vh;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 15px 10px;
}
input[type="text"],
input[type="button"] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 2px 10px;
}
input[type="button"]:hover {
  cursor: pointer;
}
